.weather-add-info {
    &-block {
        min-width: 180px;
        height: 80px;
        padding: 10px;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: rgba(0, 0, 0, 0.24);
    }
    &-name {
        font-size: 13px;
        text-transform: uppercase;
        color: lightgray;
    }
    &-info {
        font-size: 32px;
        padding-bottom: 20px;
        color: white;
    }
}